{% extends "base.html" %}

{% block content %}

<h1>User Profile</h1>

<div class="card bg-dark text-light border-light mb-4">
<div class="card-body">

<h4>Username: {{user.username}}</h4>
<h5>Score: {{user.score}}</h5>
<h6>Solved Challenges: {{solved|length}}</h6>

</div>
</div>

<h3>Solved Challenges</h3>

<table class="table table-dark">

<tr>
<th>Challenge</th>
<th>Points</th>
</tr>

{% for c in solved %}

<tr>
<td>{{c.name}}</td>
<td>{{c.points}}</td>
</tr>

{% endfor %}

</table>

{% endblock %}